body {
}

/*--Bootstrap Override--*/
.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

/*--Margin - Padding--*/

.margin-top-5 {
    margin-top: 5px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-right-5 {
    margin-right: 5px;
}
.padding-top-5 {
    padding-top: 5px;
}
.padding-bottom-5 {
    padding-bottom: 5px;
}
.padding-left-5 {
    padding-left: 5px;
}
.padding-right-5 {
    padding-right: 5px;
}

/*<!--Badge Color-->*/

.badge-error {
        background-color: #b94a48;
    }
.badge-error:hover {
    background-color: #953b39;
}
.badge-warning {
    background-color: #f89406;
}
.badge-warning:hover {
    background-color: #c67605;
}
.badge-success {
    background-color: #468847;
}
.badge-success:hover {
    background-color: #356635;
}
.badge-info {
    background-color: #3a87ad;
}
.badge-info:hover {
    background-color: #2d6987;
}
.badge-inverse {
    background-color: #333333;
}
.badge-inverse:hover {
    background-color: #1a1a1a;
}
label.error {
    color: #D73925;
}
/*<!--Ajax Loading Spin-->*/

.loading {
    position: fixed;
    display: none;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border: 20px solid #f3f3f3;
    border-radius: 50%;
    border-top: 20px solid #3498db;
    border-bottom: 20px solid #f4a460;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}


.img-container {
    display: none;
    position: relative;
    width: 200px;
    height: auto;
    max-width: 100%;
    margin: 15px 5px;
}

    .img-container img {
        width: 100%;
        max-height: 200px;
        border-radius: 5px;
        border: 2px solid #222D32;
    }

    .img-container:hover img {
        opacity: 0.3;
    }

.img-text-block {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #222D32;
}

.img-container:hover .img-text-block {
    color: #222D32;
}

