@model DRF.Entities.Appointment

@{
    ViewBag.Title = "Recent Appointment";
}

@if (Model != null)
{
    @Html.Partial("_RecentAppointmentInfo", @Model);
}
else
{
    <div class="container margin_120">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div id="confirm">
                    <h2><span class="icon-info-circled"></span>Don't have any appointment</h2>
                    <p>Please booked appoinment</p>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
}